.content {
  position: relative;
}

.content::before {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: red;
  -webkit-box-shadow: -2px 5px 5px lightgray;
  -moz-box-shadow: -2px 5px 5px lightgray;
  box-shadow: -2px 5px 5px lightgray;
  z-index: 0;
}

.content.last-selected::before {
  //height: calc(50% + 30px);
}

.step-header {
  display: block;
  position: relative;
  font-size: 120%;
  cursor: pointer;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.selected .step-header {
  /*font-size: 180%;*/
  transform: scale(1.1);
  cursor: default;
}

.header-order {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  background: white;
  color: red;
  transform: translateX(-50%);
  text-align: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  box-shadow: 0 2px 5px lightgray;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.selected .header-order {
  width: 40px;
  height: 40px;
  background: #FF0000;
  color: white;
  z-index: -1;
}

.header-order span {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header-title {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #9E9E9E;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.selected .header-title {
  left: 30px;
  color: #FF0000;
}

.step-content {
  /*max-height: 0;*/
  transition: all 500ms ease-out;
}

.selected .step-content {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 15px;
  /*max-height: 1000px;*/
}

.last-selected .step-content {
  padding-bottom: 3px;
}

.content:not(.last-unselected):not(.selected) .selected-properties,
.content:not(.last-unselected):not(.selected).is-time .selected-properties {
  padding: 10px 0;
}

.selected-properties-container {
  position: relative;
  margin-left: 40px;
  padding-left: 10px;
  border-left: 2px solid red;
}

.selected-property + .selected-property {
  margin-top: 10px;
}

.list-element {
  display: inline-block;
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
}

.list-element div {
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: red;
}

.property-name {
  color: white;
  background: gray;
}

.property-value {
  color: gray;
}

.property-name, .property-value {
  padding: 2px 5px;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .selected .step-content {
    padding-right: 20px;
  }
  .content.last-selected::before {
    height: calc(100% - 20px);
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 480px) and (max-width : 768px) {
  .selected .step-content {
    padding-right: 20px;
  }
}
