<div class="container">
  <div class="arrow glyphicon-container" *ngIf="isScrollNeeded" (click)="scrollList(-1)">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </div>
  <div #accountListContainer class="account-list-container">
    <div #accountList class="account-list">
      <div *ngIf="accounts">
        <app-account class="account" *ngFor="let account of accounts"
                     [accountSelected]="account === selectedAccount"
                     [account]="account" (click)="selectedAccount = account"></app-account>
      </div>
    </div>
  </div>
  <div class="arrow glyphicon-container" *ngIf="isScrollNeeded">
    <span class="glyphicon glyphicon-chevron-right" (click)="scrollList(1)"></span>
  </div>
</div>
