.content {
  display: flex;
}

.right {
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */
  flex: 1;
}

.slideshow {
  display: flex;
  width: 100%;
}

.arrow {
  position: relative;
  font-size: 40px;
  color: gray;
  text-align: center;
  transform: translateY(50%);
  z-index: 100;
}

.arrow span {
  display: inline-block;
  transform: translateY(-50%);
  cursor: pointer;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  padding: 5px;
}

.arrow span:hover{
  color: red;
}

.recipient-list-container .arrow {
  margin-left: 20px;
}

.blank-recipient {
  display: inline-block;
  width: 170px;
  margin-left: 10px;
}

.recipient-list-container {
  display: inline-block;
  position: relative;
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */
  flex: 1;
  height: 165px;
  overflow: hidden;
}

.recipient-list-container + .arrow {
  margin-left: 0;
}

.recipient-list {
  position: absolute;
  white-space: nowrap;
  padding-top: 5px;
  left: 10px;
  transition: left 250ms ease-out ;
}

.recipient {
  display: inline-block;
}

.recipient + .recipient {
  margin-left: 10px;
}

#new-recipient-out {
  display: none;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .recipient-list-container {
    overflow: visible;
    overflow-x: scroll;
  }
  .recipient-list {
    position: relative;
    max-width: 0;
  }
  .arrow {
    display: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 480px) and (max-width : 768px) {

}
