<div class="content">
  <div class="form-container">
    <div class="card flags">
      <app-flags-dropdown [(selectedKey)]="selection" [flagType]="'country'" [flagsMap]="flagsMap"></app-flags-dropdown>
    </div>

    <div class="card" *ngFor="let section of (!!displayedCountry ? displayedCountry.getSections() : [])"
         id="{{section.getName()}}-section">
      <div class="input" *ngFor="let field of section.getFields()">
        <app-input
          [(value)]="boundFormFields[field.getId()]['value']"
          (valueChange)="onFormFieldChange(field)"
          [placeholder]="field.getTitle()"
          [error]="getFieldError(displayedCountry, field)"
          [tooltip]="field.getTooltip()"></app-input>
      </div>

      <div class="input" *ngIf="section.getName() === 'payee'">
        <app-cb [name]="'Save for future payments'" [(checked)]="savePayee"></app-cb>
      </div>

      <div class="input" *ngIf="section.getName() === 'payment'">
        <div *ngIf="iban" style="border-bottom: 3px solid #DDD; margin-bottom: 10px">
          <app-iban [iban]="iban"></app-iban>
        </div>
        <button class="submit-button" (click)="onPaymentSectionSubmit()" [class.deactivated]="isDataValidated">Validate</button>
      </div>
    </div>

    <div class="card" *ngIf="!!displayedCountry">
      <button [class.deactivated]="!isDataValidated" (click)="submitPayee()">Submit</button>
    </div>
  </div>
</div>
