<div class="recipient-container">
  <div *ngIf="payee">
    <div class="recipient-header" [@headerState]="selected ? 'selected' : 'unselected'">
      <span class="glyphicon glyphicon-user"></span>
      <span class="text">{{payee.getName()}}</span>
    </div>
    <div class="recipient-body">
      <div class="flag">
        <span class="flag-icon flag-icon-{{payee.getCountry()}}"></span>
        {{payee.getCurrency().toUpperCase()}}
      </div>
      <div class="recipient-body-description">
        <div class="ending">Account currency</div>
      </div>
    </div>
  </div>
</div>
