<div class="account-container">
  <div class="account-header" [@headerState]="accountSelected ? 'selected' : 'unselected'">
    <span class="glyphicon {{account.getIcon()}}"></span>
    {{account.getDescription()}}
  </div>
  <div class="account-body">
    <div class="account-credit">
      <span class="flag-icon flag-icon-{{account.getCountry()}}"></span>
      {{account.getBalance() | currency:account.getCurrency():true:'1.2-2'}}
    </div>
    <div class="account-balance">
      Available balance
    </div>
  </div>
</div>
