.content {
  position: relative;
  padding-left: 10px;
}

.content::before {
  display: block;
  position: absolute;
  content: '';
  left: 0;
  width: 3px;
  height: 100%;
  max-height: 20px;
  background: lightgray;
  transition: max-height 0ms;
}

.content.expanded::before {
  max-height: 500px;
  transition: max-height 1500ms, background 1000ms;
  background: transparent;
}

.content.expanded {
  border-bottom: 1px solid lightgray;
}

.title {
  position: relative;
  color: gray;
}

.title:hover {
  color: darkslategray;
}

.content.expanded .title span {
  transform: translateX(calc(100% + 5px)) translateY(-50%) rotateZ(90deg);
}

.title, .title * {
  display: inline-block;
  cursor: pointer;
}

.title span {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(calc(100% + 5px)) translateY(-50%) rotateZ(0deg);
}

.body {
  color: gray;
}
.content.expanded .body {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  background: #EEE;
}
