.content {
  position: relative;
  height: 100%;
  font-size: 100%;
}

.content.showing-popup .strip {
  border-radius: 5px 5px 0 0;
}

.strip {
  display: flex;
  position: relative;
  height: 100%;
  border-radius: 5px;
  border: 1px solid lightgray;
  background: white;
  transition: 250ms;
}

.strip:hover {
  box-shadow: 0 2px 5px lightgrey;
}

.strip .date-cell {
  display: inline-block;
  position: relative;
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */
  flex: 1;
  text-align: center;
  padding-top: 15px;
}

.strip .date-cell span {
  display: inline-block;
}

.strip .date-cell .title {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  color: white;
  background: gray;
  border-radius: 0 0 5px 5px;
  padding: 0 10px;
  font-size: 80%;
}

.strip .date-cell .value {
  color: gray;
}

.strip .date-cell + .date-cell {
  border-left: 1px solid lightgray;
}

.strip .calendar-glyphicon {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  cursor: pointer;
  box-shadow: -2px 0 4px lightgrey;
}

.strip .glyphicon {
  display: block;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  color: gray;
}

.strip .calendar-glyphicon:hover .glyphicon {
  color: red;
}

.popup {
  display: flex;
  position: absolute;
  text-align: center;
  flex-direction: column;
  height: 250px;
  padding: 20px;
  z-index: 100;
  border: 1px solid lightgray;
}

.top {
  overflow: hidden;
}

.top h1, .top h2 {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 45%;
  font-size: 120%;
  margin: 0;
  color: red;
}

.arrow {
  color: gray;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.arrow:hover {
  color: red;
}

.arrow-left {
  left: 0;
  transform: translateY(-50%) translateX(100%)
}

.arrow-right {
  right: 0;
  transform: translateY(-50%) translateX(-100%)
}

.bottom {
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */
  flex: 1;
  color: gray;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline-block;
  width: 14.2%;
  margin: 0;
}

.days-titles li {
  text-align: center;
  border-bottom: 1px lightgray solid;
  padding: 10px 0;
}

.day-header {
  text-overflow: ellipsis;
  overflow: hidden;
  color: gray;
}

.days-table {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.day-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.day-wrapper::before {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background: red;
;
  transition: height 300ms;
}

.day-wrapper:not(.starting-day) span {
  cursor: pointer;
}

.day-wrapper:not(.starting-day) span::after {
  display: block;
  position: absolute;
  content: '';
  width: 0;
  height: 1px;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  background: gray;
  transition: width 300ms;
}

.day-wrapper:not(.starting-day):not(.selected-day):hover span::after {
  width: 100%;
}

.day-wrapper.starting-day {
  color: lightgrey;
  cursor: default;
}

.day-wrapper.selected-day {
  color: white;
}

.day-wrapper.selected-day::before {
  height: 100%;
}

.day-wrapper span {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
