.content {
  display: block;
  padding-right: 5px
}

.card {
  display: block;
  background: white;
  padding: 10px;
  box-shadow: 0 2px 5px lightgray;
  vertical-align: top;
}

.card + .card {
  margin-top: 10px;
}

.entry {
  display: inline-block;
  margin: 10px;
  font-size: 80%;
}

.entry + .entry {
  margin-top: 10px;
}

span {
  color: red;
}

.value {
  color: gray;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .card {
    float: left;
  }
  .card + .card {
    margin: 0;
    border-top: lightgrey 1px solid;
  }
}
